.testimonials-outer-div{
    width: 100%;
    height: 100%;
    padding: 100px;
}

.testimonial-title{
    font-size: 2em;
    font-weight: bold;
    width: fit-content;
    display: block;
    margin: 0%;
    padding: 0%;
}

.testimonial-title-underline{
    background-color: #F45B21;
    margin: 0px 0px 0px 3px;
    height: 5px;
    width: 50%;
}


.testimonial-heading-div{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    p{
        font-size: 2em;
        font-weight: bolder;
    }

    a{
        margin: 0%;
        height: fit-content;
        border: 1px solid #F45B21;
        padding: 15px 20px;
        border-radius: 20px;
        color: #FFFFFF;
        font-weight: bolder;
        background-color: #F45B21;
        text-decoration: none;
    }

    a:hover{
        color: #FFFFFF;
    }
}


.testimonial-div{
    display: flex;
    padding: 100px 120px;
}


.testimonial-company-div{
    p{
        width: fit-content;
        background-color: #F45B21;
        color: #FFFFFF;
        padding: 120px 100px;
        border-radius: 50%;
        text-align: center;
    }
}

.testimonial-company-review-div{
    padding: 50px 130px;

    .comment{
        font-size: 1.2em;
        font-weight: 600;
    }

    .name{
        font-size: 1.1em;
        color: #8a8a8a;
        font-weight: 600;
    }
}


@media screen and (max-width: 1440px) {

    .testimonials-outer-div{
        padding: 50px;
    }

    .testimonial-title{
        font-size: 1.6em;
    }

    .testimonial-heading-div{
        padding: 40px 50px;
        p{
            font-size: 1.6em;
            font-weight: bold;
        }
    
        a{
            font-size: 1em;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 1024px) {

    .testimonials-outer-div{
        padding: 50px;
    }

    .testimonial-title{
        font-size: 1.6em;
    }

    .testimonial-company-div{
        p{
            padding: 100px 80px;
        }
    }

    .testimonial-div{
        padding: 50px;
    }

    .testimonial-heading-div{
        padding: 40px 50px;
        display: flex;
        align-items: center;
        p{
            height: fit-content;
            margin: 0%;
            font-size: 1.3em;
            font-weight: bold;
        }
    
        a{
            font-size: 1em;
            font-weight: normal;
        }
    }

    .testimonial-company-review-div{
        padding: 50px;
    }

    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
        padding: 100px 0px !important;
        font-size: 2em;
    }
}


@media screen and (max-width: 768px) {

    .testimonials-outer-div{
        padding: 50px;
    }

    .testimonial-title{
        font-size: 1.6em;
    }

    .testimonial-company-div{
        p{
            padding: 80px 60px;
            width: fit-content;
        }
    }

    .testimonial-div{
        padding: 0px 50px;
        display: block;
    }

    .testimonial-heading-div{
        padding: 40px 50px;
        display: flex;
        align-items: center;
        p{
            height: fit-content;
            margin: 0%;
            font-size: 1.3em;
            font-weight: bold;
        }
    
        a{
            font-size: 1em;
            font-weight: normal;
        }
    }

    .testimonial-company-review-div{
        padding: 20px;
    }

    .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
        padding: 100px 0px !important;
        font-size: 2em;
    }
}


@media screen and (max-width: 540px) {

    .testimonials-outer-div{
        padding: 30px;
    }

    .testimonial-title{
        font-size: 1.3em;
    }

    .testimonial-company-div{
        
        p{
            width: fit-content;
            padding: 80px 60px;
        }
    }

    .testimonial-div{
        padding: 0px 50px;
        display: block;
    }

    .testimonial-heading-div{
        padding: 40px 20px;
        display: flex;
        align-items: center;
        p{
            width: 40%;
            height: fit-content;
            margin: 0%;
            font-size: 1em;
            font-weight: bold;
        }
    
        a{
            font-size: 1em;
            font-weight: normal;
        }
    }

    .testimonial-company-review-div{
        padding: 20px;

        .comment{
            font-size: 1em;
        }
    
        .name{
            font-size: 1em;
        }
    }
}


@media screen and (max-width: 414px) {

    .testimonials-outer-div{
        padding: 30px 10px;
    }

    .testimonial-title{
        font-size: 1.3em;
    }

    .testimonial-company-div{
        
        p{
            width: fit-content;
            padding: 70px 50px;
        }
    }

    .testimonial-div{
        padding: 0px 30px;
        display: block;
    }
}